<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="path" value="http://localhost/DesarrolloPlus7WMD/" />    <!-- valores para ambiente de desarrollo -->
    <!-- <add key="path" value="../" />  -->    <!-- valores para ambiente de pruebas -->
  </appSettings>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=192.168.1.12\Plus2017;Initial Catalog=ClientesCO701_PWM;User ID=sa;Password=Plus2010" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    
    <!--
      La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
    -->
    <authentication mode="Windows" />
    <!--
       La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>